<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">CONTACT</h2>
                <hr class="primary">
                <p>
                    I’m always open to communications. Whether you’d like to:
                </p>
                <li>📄 Chat about work</li>
                <li>💡 Explore project ideas</li>
                <li>🐱 Share cat memes (seriously, try me)</li>
                <p></p>
                <p>
                    feel free to reach out!
                </p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://t.me/VgorleCom">
                <i class="fa fa-paper-plane fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>@VgorleCom</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:faa.bmstu@yandex.ru">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>faa.bmstu@yandex.ru</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/Anastasizzzz">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Anastasizzzz</p>
            </a>
        </div>

    </div>
</section>
