<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="color: white;">Hi, I'm Nastya</h1>
            <hr>
            <p style="color: white;">I am a results-oriented Data Engineer who design efficient <strong>ETL pipelines</strong> (handling 3TB+ daily datasets), build <strong>data models</strong> and monitoring systems to ensure quality, optimize processes (like cutting script runtime from 2hrs → 45min) and adore cats 🐾</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">ABOUT</a>
        </div>
    </div>
</header>
